<div
  class="mx-auto px-[12px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1920px] 2xl:px-[30px] 3xl:px-[120px]">
  <div
    class="bg-surface py-[30px] px-[15px] sm:px-[25px] md:py-[40px] md:px-[40px] lg:py-[50px] lg:px-[50px] xl:py-[35px] xl:px-[40px] 2xl:px-[50px] 3xl:pl-[100px] 3xl:pr-[95px]">
    @if (isLoading()) {
    <app-loading-skeleton type="banner" />
    } @else {
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-[25px]">
      @if (parsedContent()) {
      <div class="self-center" [class.animate-fade-up]="parsedContent()">
        @if (parsedContent()?.lead) {
        <span
          class="text-[13px] md:text-[15px] lg:text-[16px] text-on-accent bg-accent py-[1px] px-[10px] mb-[10px] inline-block">
          {{ parsedContent()!.lead }}
        </span>
        }
        <h1 [innerHTML]="parsedContent()!.title | safeHtml"
          class="text-body font-bold text-[26px] md:text-[34px] lg:text-[44px] 2xl:text-[50px] leading-[1.22] mb-[8px] md:mb-[10px] lg:mb-[12px] xl:mb-[14px]">
        </h1>
        <div [innerHTML]="parsedContent()!.content | safeHtml"
          class="text-[13px] md:text-[15px] lg:text-[15px] xl:text-[16px] text-body leading-[1.8]">
        </div>

      </div>
      }
      @if (parsedContent()?.headerImg) {
      <div class="self-center" [class.animate-fade-up]="parsedContent()">
        <img [src]="parsedContent()!.headerImg" class="inline" alt="banner-image" fetchpriority="high" loading="eager">
      </div>
      }
    </div>
    }
  </div>
</div>
