#img-logo {
  width: 55vw;
  max-width: 100%;
  height: auto;
}

#img-logo-icon {
  width: 15vw;
  height: auto;
  max-width: 100%;
}

#img-logo-full {
  width: 80vw;
  max-width: 100%;
  height: auto;
}

nav.navbar {
  justify-content: space-around;
}

/*.navbar-nav {
  .nav-item {
    .nav-link {
      &:hover {
        img {
          @apply opacity-100;
        }
      }
    }

    &.active {
      .nav-link {
        img {
          @apply opacity-100;
        }
      }
    }
  }
}*/
.isSticky {
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
}

.overlay-popup {
  background-color: rgba(59, 61, 80, 0.5);
}


/* Max width 767px */
@media only screen and (max-width: 767px) {

  .navbar-toggler {
    top: 10px;
    right: 10px;
    z-index: 1000;

    &.stickymode {
      top: 20px;
    }
  }
  .navbar-area .navbar .navbar-collapse {
    display: none;
    padding: 23px 23px 60px 23px;
    overflow-x: hidden;
    max-height: 90vh;
    overflow-y: auto;
  }

  .navbar-area .navbar.active .navbar-toggler .burger-menu i::before {
    content: "\eb98";
  }
  .navbar-area .navbar.active .navbar-collapse {

    display: block;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .navbar-toggler {
    top: 20px;
    right: 10px;
    z-index: 1000;

    &.stickymode {
      top: 80px;
    }
  }

  .navbar-area .navbar .navbar-collapse {
    display: none;
    padding: 25px 25px 60px 25px;
    margin-top: 30px;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .navbar-area .navbar.active .navbar-toggler .burger-menu i::before {
    content: "\eb98";
  }
  .navbar-area .navbar.active .navbar-collapse {
    display: block;
  }
}
/* Min width 1980px */
@media only screen and (min-width: 1980px) {
  #img-logo {
    width: unset;
    max-height: 15vh;
  }
  #img-logo-icon {
    width: unset;
    max-height: 15vh;
  }
}